.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: #000000bf;
}

.modal {
  position: fixed;
  top: 20vh;
  left: 5%;
  width: 40rem;
  background-color: white;
  padding: 1rem;
  border-radius: 14px;
  box-shadow: 0 0 2px 8px #3a2727;
  z-index: 11;
  animation: slide-down 300ms ease-out forwards;
}

.content {
  .content-details {
    height: 200px;
    justify-content: space-between;
    display: flex;
    .content-detail {
      display: grid;
      width: 50%;
      grid-template-columns: 1fr 1fr;
    }
    .image {
      width: 20opx;
      height: 200px;
      overflow: hidden;
      background-color: #000000;
      border-radius: 1em;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
  }
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
