.Home {
  padding-top: 4em;
  .hero {
    width: 100%;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-content {
      width: 100%;
      .title {
        width: 75%;
        margin: auto;
        h1 {
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          font-size: 6em;
          margin: 0;
          padding: 0;
        }
      }
      .hero-deco {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 2fr;
        align-items: center;
        .sm-rectangle {
          height: 240px;
          background-color: #d9d9d9;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .hero-text {
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h3 {
            font-size: 2em;
            color: #765f5f;
          }
          hr {
            width: 700px;
            justify-self: start;
            border: 1px solid #ce801a;
          }
          .media {
            display: flex;
            margin: 10px auto;
            width: max-content;
            a {
              text-decoration: none;
              color: inherit;
              &:hover {
                color: #ce801a;
              }
            }
          }
        }
        .deco {
          width: 100%;
          justify-self: center;
        }
        .lg-rectangle {
          height: 240px;
          background-color: #d9d9d9;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .deco2 {
    margin-top: 5em;
  }
  .upcoming {
    text-align: center;
    width: 70%;
    margin: 100px auto;
    .events {
      display: grid;
      background-color: #765f5f;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 2em;
      box-shadow: 0 0 10px 5px #000000;
    }
  }
}
