.Home {
  padding-top: 4em;
  .hero {
    width: 100%;
    margin-top: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .hero-content {
      width: 100%;
      .title {
        width: 75%;
        margin: auto;
        h1 {
          font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
          font-size: 6em;
          margin: 0;
          padding: 0;
        }
      }
      .hero-deco {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr 2fr;
        align-items: center;
        .sm-rectangle {
          height: 240px;
          background-color: #d9d9d9;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .hero-text {
          height: 100%;
          text-align: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          h3 {
            font-size: 2em;
            color: #765f5f;
          }
          hr {
            width: 700px;
            justify-self: start;
            border: 1px solid #ce801a;
          }
          .media {
            display: flex;
            margin: 10px auto;
            width: max-content;
            a {
              text-decoration: none;
              color: inherit;
              &:hover {
                color: #ce801a;
              }
            }
          }
        }
        .deco {
          width: 100%;
          justify-self: center;
        }
        .lg-rectangle {
          height: 240px;
          background-color: #d9d9d9;
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .deco2 {
    margin-top: 5em;
  }
  .upcoming {
    text-align: center;
    width: 70%;
    margin: 100px auto;
    h1 {
      margin: 3em;
    }
    .events {
      display: grid;
      background-color: #765f5f;
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      padding: 2em;
      box-shadow: 0 0 10px 5px #000000;
    }
  }
  .home-about {
    width: 100%;
    height: 120vh;
    background-color: #000000;
    color: #fff;
    margin: 150px auto;
    margin-bottom: 0;
    display: grid;
    grid-template-rows: 2fr 1fr;
    .about {
      // background-color: #ce801a;
      display: grid;
      grid-template-columns: 1fr 1fr;
      .left {
        font-size: 2em;
        font-weight: 900;
        font-family: Georgia, "Times New Roman", Times, serif;
        position: relative;
        h1 {
          position: absolute;
          left: 50%;
          top: 40%;
          transform: translate(-50%, -40%);
        }
        .circular-help {
          width: 210px;
          height: 210px;
          border-radius: 50%;
          background-color: #000000;
          position: absolute;
          top: 80%;
          left: 15%;
          display: flex;
          .inner-circle {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            background-color: #ce801a;
            margin: auto;
            position: relative;
            p {
              position: absolute;
              left: 50%;
              top: 20%;
              transform: translate(-50%, -20%);
            }
          }
        }
      }
      .right {
        position: relative;
        .floating-div {
          position: absolute;
          top: -5%;
          width: 80%;
          height: 50%;
          background-color: #765f5f;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .text {
          position: absolute;
          top: 50%;
          p {
            width: 70%;
          }
        }
      }
    }
    .image {
      background-color: #08a54f;
      background-image: url(../../assets/images/image.jpg);
      background-position: center left;
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}
